*{
	margin:0;
	padding:0
}

body {
    font-size: 14px;
    color: #787878;
    background: #fff !important;
    font-weight: normal;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: normal;
}

a{
color: #787878;
text-decoration:none
}

a:hover, a:active, a:focus{
	text-decoration:none;
	color:#000
	overflow:hidden;
}

.container{
	width: 900px;
}

#fod-padd {
	width: 280px
    background: #faf9f9;
    border: 1px solid #d9d9d9;
    padding: 15px 15px 22px;
    height: 700px;
    box-sizing: border-box;
    overflow: hidden;
 }

 #fod-padd .mar{
 	margin: 5px;
 }


ul {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

#fod-padd ul li {
    background: url(images/plus.png) no-repeat 0 11px;
    line-height: 20px;
    list-style: outside none none;
    padding: 6px 0 6px 12px;
}
